name: PyPI Upload

on:
  release:
    types: [ published ]

jobs:
  upload:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Build package
      run: |
        python -m pip install --upgrade pip build
        python -m build
    
    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1